{% extends "base2.html" %}

{% block head_title %} Condutores {% endblock head_title %}

{% block contentdash %}
    <div class="d-flex justify-content-between">
            <h4><b>SGI</b> - Condutores</h4>
            <a type="button" class="btn btn-success" hx-get="{% url 'add_condutores' %}" hx-target="#dialog"><i class="lni lni-plus"></i> Adicionar Condutor</a>
    </div>
    <hr>
    <!-- <form class="form-inline" action="." method="get">
        <div class="row container-fluid ">
            <div class="col-sm-4">
                <input type="text" id="buscar" name="buscar" class="form-group form-control" placeholder="Nome, Sobrenome, CPF...">
            </div>
            <div class="col">
                <input type="submit" class="btn btn-primary form-group" value="Buscar">
            </div>
        </div>
    </form> -->
    <div class="table-responsive" style="max-height: 80vh;">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Status</th>
                    <th scope="col">Validade da CNH</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Curso Escolar</th>
                    <th scope="col">Observações</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>

            <tbody hx-trigger="load, CondutoresListChanged from:body" hx-get="{% url 'condutores_list' %}" hx-target="this">
                <tr>
                  <td class="spinner-border" role="status">
                    <span class="visually-hidden">Carregando...</span>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="wrapper justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">

                {% if condutores.has_previous %}
                    <li class="page-item">

                        {% if request.GET.buscar %}
                            <a class="page-link" href="?page=1&buscar={{request.GET.buscar}}" aria-label="Anterior">
                        {% else %}
                            <a class="page-link" href="?page=1" aria-label="Anterior">
                        {% endif %}
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Primeira</span>
                        </a>
                    </li>   
                {% endif %}
            
                {% for n in condutores.paginator.page_range %}

                    {% if condutores.number == n %}
                        <li class="page-item active">
                            <span class="page-link">{{ n }}</span>
                        </li>
                    {% elif n > condutores.number|add:'-3' and n < condutores.number|add:'3' %}
                        {% if request.GET.buscar %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}&buscar={{request.GET.buscar}}">{{ n }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                        {% endif %}
                    {% endif %}



                {% endfor %}
            
                {% if condutores.has_next %}
                    <li class="page-item">
                        {% if request.GET.buscar %}
                            <a class="page-link" href="?page={{ condutores.paginator.num_pages }}&buscar={{request.GET.buscar}}" aria-label="Próxima">
                        {% else %}
                            <a class="page-link" href="?page={{ condutores.paginator.num_pages }}" aria-label="Próxima">
                        {% endif %}
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Última</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock contentdash %}
