<div id="containerusuario">
    <h3>Gerenciar <b>Usuários</b></h3>
    <p>Lista todos os usuários registrados no sistema</p>
    <!-- <a href="/{{ modulo.link_modulo }}" class="btn btn-primary mb-3">Acessar Módulo</a> -->
    <br>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuário</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for user in usuarios %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>Status</td>
                        <td>
                            <a hx-get="{% url 'privilegios' user.id %}" class="btn btn-info btn-sm" hx-target="#containerusuario" hx-swap="innerHTML">Privilégios</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">Nenhum usuário registrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>