<div>
    <h3>Gerenciar <b>Privilégios</b></h3>
    <p>Configura o nível de acesso do usuário</p>
    <!-- <a href="/{{ modulo.link_modulo }}" class="btn btn-primary mb-3">Acessar Módulo</a> -->
    <br>
    <div class="row">
        <!-- Menu lateral -->
        <div class="col-3">
            <h5>Módulos</h5>
            <hr>
            <ul class="list-group list-group-flush list-group-item-action mx-3">
                {% for grupo in grupos %}
                    <li class="list-group-item list-group-item-action btn p-0">
                        <a class="sidebar-link"
                            hx-get="{% url 'carregar_permissoes' user.id grupo.id %}"
                            hx-target="#permissoes-container"
                            hx-swap="innerHTML">
                            {{ grupo.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    
        <!-- Lista de permissões carregada dinamicamente -->
        <div class="col-9">
            <h5>Permissões</h5>
            <hr>
            <div id="permissoes-container">
                <small>Selecione um módulo</small>
            </div>
        </div>
    </div>
</div>
</body>
</html>