{% extends "base.html" %}

{% block head_title %} Contratos {% endblock head_title %}

{% block contentdash %}
    <div class="d-flex justify-content-between">
            <h4><b>SGI</b> - Contratos</h4>
            <a type="button" class="btn btn-success" href="{% url 'contratos_request'%} "><i class="lni lni-plus"></i> Atualizar Base</a>   
    </div>
    <hr>
    <form class="form-inline" action="." method="get">
        <div class="row container-fluid ">
            <div class="col-sm-4">
                <input type="text" id="buscar" name="buscar" class="form-group form-control" placeholder="Contrato, Processo, Ano ou Fornecedor...">
            </div>
            <div class="col">
                <input type="submit" class="btn btn-primary form-group" value="Buscar">
            </div>
        </div>
    </form>
    <br>
    <div class="table-responsive">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">Processo</th>
                    <th scope="col">Contrato</th>
                    <th scope="col">UG</th>
                    <th scope="col">Vigência</th>
                    <th scope="col">Contratada</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Anexos</th>
                    {% if perms.auth.Controle %}
                        <th scope="col">Ações</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for contrato in contratos %}
                    <tr>
                        <td>{{ contrato.NumeroProcesso }}/{{ contrato.AnoProcesso }}</td>
                        <td>{{ contrato.NumeroContrato }}/{{ contrato.AnoContrato }}</td>
                        <td>
                            {% if contrato.UnidadeGestora == 'Prefeitura Municipal de Cortês' %}
                                PMC
                            {% elif contrato.UnidadeGestora == 'Fundo Municipal de Assistência Social de Cortês' %}
                                FMAS
                            {% elif contrato.UnidadeGestora == 'Fundo Municipal de Saúde de Cortês' %}
                                FMS
                            {% elif contrato.UnidadeGestora == 'Fundo Municipal de Educação' %}
                                FMEDUC
                            {% else %}
                                {{ contrato.UnidadeGestora }}
                            {% endif %}
                        </td>
                        <td>{{ contrato.Vigencia }}</td>
                        <td style="width: 30%;">{{ contrato.Fornecedor.RazaoSocial }}</td>
                        <td>R$ {{ contrato.Valor }}</td>
                        <td>
                            <div class='btn-group btn-group-sm' role='group'>
                                <a href="{{ contrato.LinkContrato }}" class="btn btn-secondary" target="_blank"><i class="lni lni-add-files"></i></a>
                                <!-- <a href="{{ contrato.LinkEdital }}" class="btn btn-secondary" target="_blank"><i class="lni lni-book"></i></a> -->
                            </div>
                        </td>
                        {% if perms.auth.Controle %}
                            <td>
                                <div class='btn-group btn-group-sm' role='group'>
                                    <a href="{% url 'contrato_add_of' contrato.id %}" class="btn btn-secondary" target="_blank"><i class="lni lni-consulting"></i></a>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="wrapper justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">

                {% if contratos.has_previous %}
                    <li class="page-item">

                        {% if request.GET.buscar %}
                            <a class="page-link" href="?page=1&buscar={{request.GET.buscar}}" aria-label="Anterior">
                        {% else %}
                            <a class="page-link" href="?page=1" aria-label="Anterior">
                        {% endif %}
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Primeira</span>
                        </a>
                    </li>   
                {% endif %}
            
                {% for n in contratos.paginator.page_range %}

                    {% if contratos.number == n %}
                        <li class="page-item active">
                            <span class="page-link">{{ n }}</span>
                        </li>
                    {% elif n > contratos.number|add:'-3' and n < contratos.number|add:'3' %}
                        {% if request.GET.buscar %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}&buscar={{request.GET.buscar}}">{{ n }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                        {% endif %}
                    {% endif %}



                {% endfor %}
            
                {% if contratos.has_next %}
                    <li class="page-item">
                        {% if request.GET.buscar %}
                            <a class="page-link" href="?page={{ contratos.paginator.num_pages }}&buscar={{request.GET.buscar}}" aria-label="Próxima">
                        {% else %}
                            <a class="page-link" href="?page={{ contratos.paginator.num_pages }}" aria-label="Próxima">
                        {% endif %}
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Última</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>    
{% endblock contentdash %}
