{% extends 'baseprotocolo.html' %}
{% block titulo %}Criar Processo{% endblock titulo %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    Número do Documento Motivador:
                    {{ form.numero }}
                </div>
                <div class="mb-3">
                    Assunto:
                    {{ form.titulo }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    {{ form.setor_fim.label_tag }}
                    {{ form.setor_fim }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    Descrição:
                    {{ form.descricao }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    {{ form.documentos_iniciais.label_tag }}
                    {{ form.documentos_iniciais }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
{% endblock %}