<div class="modal-content" hx-debug="true">
    <div class="modal-header justify-content-between">
        <h5 class="modal-title">Movimentar</h5>
    </div>
    <div class="modal-body">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{% url 'criar_movimentacao' processo.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="mb-3">
                        Descrição:
                        {{ form.descricao }}
                    </div>
                    <div class="mb-3">
                        Setor de destino:
                        {{ form.destinatario }}
                    </div>
                    <div class="mb-3">
                        <span>Sua movimentação será em meio:</span>
                        <div class="d-flex flex-row">
                            <input type="radio" class="btn-check" name="options-outlined" id="fisico" autocomplete="off" checked>
                            <label class="btn btn-sm btn-outline-primary mx-1" style="height: fit-content;" for="fisico">Físico</label>

                            <input type="radio" class="btn-check" name="options-outlined" id="digital" autocomplete="off">
                            <label class="btn btn-sm btn-outline-primary" style="height: fit-content;" for="digital">Digital</label>
                        </div>
                        
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Mover</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 align-items-center p-5">
                <div class="row"><small>Caso este processo não careça de movimentação ou adição de documentos, encaminhar para o setor arquivo com anotação que descreva o arquivamento.</small></div>              
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <small style="font-size: xx-small;">Informações enviadas por <b>{{ request.user }}</b></small>
    </div>
</div>
