{% extends 'base2.html' %}
{% block titulo %}Criar Processo{% endblock titulo %}
{% block contentdash %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="d-flex flex-column col-6">
                {{ form.non_field_errors }}
                <!-- DESCRIÇÃO -->
                <div class="mb-3">
                    <div class="d-flex flex-row justify-content-between align-items-center mb-1">
                        <label>Descrição:</label>
                        <a href="#"
                        class="btn btn-sm btn-secondary"
                        hx-get="{% url 'sugerir_dados_processo' %}"
                        hx-include="#id_descricao"
                        hx-target="#sugestao-descricao"
                        hx-indicator="#loading">
                        Buscar registros semelhantes
                        </a>
                    </div>
                    
                    {{ form.descricao }}
                </div>
                <div class="mb-3">
                    Número do Documento Motivador:
                    {{ form.numero }}
                </div>
                <div class="mb-3">
                    Assunto:
                    {{ form.titulo }}
                </div>
                <div class="mb-3">
                    Setor fim:
                    {{ form.fim }}
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
            <div class="col-6">
                <div class="d-flex justify-content-between align-items-center">
                    <h6>Sugestões de preenchimento</h6>
                </div>
                <hr>
                <small id="sugestao-descricao" class="text-muted d-block mt-1"></small>
                <span id="loading" style="display:none;">🔄 Sugerindo...</span>
            </div>
        </div>
    </form>

    <script>
        function preencherCampos(numero, titulo, descricao, fim_id) {
            document.getElementById("id_numero").value = numero;
            document.getElementById("id_titulo").value = titulo;
            document.getElementById("id_descricao").value = descricao;
            document.getElementById("id_fim").value = fim_id;
        }
    </script>
{% endblock %}