{% extends 'base2.html' %}
{% block titulo %}Detalhes do Processo{% endblock titulo %}
{% block contentdash %}
   <!-- Cabeçalho com Informações Básicas do Processo -->
   <div class="row">
        <div class="col">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-7">
                            <p class="card-title"><b>{{ processo.numero }} - {{ processo.titulo }}</b></p>
                            <div style="margin: 0; padding: 0; font-size: small;">
                                <li>{{ processo.descricao }}</li>
                            </div>
                        </div>
                        <div class="col-3">
                            <li><strong>Status:</strong> {{ processo.get_status_display }}</li>
                            <li><strong>Prazo:</strong> {{ processo.prazo|default:"-" }}</li>
                            <li><strong>Tempo Restante:</strong> {{ processo.tempo_restante|default:"-" }} dias</li>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-secondary" hx-get="{% url 'mais_informacoes' processo.id %}" hx-target="#dialog" hx-trigger="click">
                                <i class="lni lni-info"></i> Mais Informações
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if not pode_modificar %}
        <div class="d-flex justify-content-center mb-2">
            <small class="badge bg-secondary">Este processo está {{ processo.get_status_display|lower }} no setor {{ processo.setor_atual|title }}</small> 
        </div>
    {% endif %}
    <!-- Duas Colunas: Documentos e Movimentações -->
    <div class="row">
        <!-- Coluna da Esquerda: Documentos -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title mb-0">Documentos</h5> 
                        {% if pode_modificar %}
                            <a type="button" class="btn btn-sm btn-info py-0" hx-get="{% url 'criar_documento' processo.id %}" hx-target="#dialog">
                                + Adicionar Documento
                            </a>
                        {% endif %}
                    </div>
                    
                </div>
                <div class="card-body">
                    {% if processo.documentos.all %}
                        <div class="list-group">
                            {% for documento in processo.documentos.all|dictsortreversed:"criado_em" %}
                                <div class="list-group-item">
                                    <div class="d-flex flex-row justify-content-between align-items-center" style="font-size: small;">
                                        <div class="d-flex flex-column">
                                            <p class="mb-0">{{ documento.descricao }}</p>
                                            <small class="text-muted">Incluído por {{ documento.criado_por.get_full_name }} em {{ documento.criado_em|date:"d/m/Y H:i" }}</small>
                                            <small class="text-muted">{{ documento.get_tipo_display }} - {{ documento.get_classificacao_display }}</small>    
                                        </div>
                                        <div>
                                            <a href="{{ documento.arquivo.url }}" class="btn btn-sm btn-outline-primary mx-1" target="_blank">
                                                <i class="lni lni-download"></i> Baixar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="text-muted">Nenhum documento encontrado.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Coluna da Direita: Movimentações -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title mb-0">Movimentações</h5> 
                        {% if pode_modificar %}
                            {% if processo.ultima_movimentacao.status == 'em_tramitacao' and processo.ultima_movimentacao.confirmacao == 'pendente' %}
                                <form method="post" action="{% url 'receber_processo' processo.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-warning">Receber</button>
                                </form>
                            {% else %}
                                <a type="button" class="btn btn-sm btn-warning py-0" hx-get="{% url 'criar_movimentacao' processo.id %}" hx-target="#dialog">
                                    + Criar Movimentação
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    {% if processo.movimentacoes.all %}
                        <div class="list-group">
                            {% for movimentacao in processo.movimentacoes.all|dictsortreversed:"realizado_em" %}
                                <div class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="col-9 d-flex flex-column" style="font-size: small;">
                                            <p class="m-0">
                                                {% if movimentacao.status == 'arquivada' %}
                                                    <i class="lni lni-archive"></i> Arquivado por {{ movimentacao.realizado_por }}
                                                {% else %}
                                                    De {{ movimentacao.remetente.nome }} para {{ movimentacao.destinatario.nome }}
                                                {% endif %}
                                            </p>
                                            <small class="text-muted">
                                                Enviada por {{ movimentacao.realizado_por.get_full_name }} em {{ movimentacao.realizado_em|date:"d/m/Y H:i" }}
                                            </small>
                                            {% if movimentacao.status == 'recebida' %}
                                                <small class="text-muted">
                                                    Recebida por {{ movimentacao.confirmado_por.get_full_name}} em {{ movimentacao.confirmado_em|date:"d/m/Y H:i" }}
                                                </small>
                                                {% if movimentacao.descricao %}
                                                <small class="text-muted">
                                                    Anotação: {{ movimentacao.descricao}}
                                                </small>
                                                {% endif %}
                                                    
                                            {% endif %}
                                        </div>
                                        <div class="col-3 d-flex justify-content-center">
                                            <span class="badge bg-{% if movimentacao.status == 'recebida' %}success{% elif movimentacao.status == 'arquivada' %}dark{% else %}info{% endif %}">
                                                {{ movimentacao.get_status_display }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="text-muted">Nenhuma movimentação encontrada.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}