{% extends 'base2.html' %}
{% block titulo %}Processos no Setor{% endblock titulo %}
{% block contentdash %}
    <div class="d-flex justify-content-between">
        <h4><b>SGI</b> - Protocolos no Setor</h4>
        <form method="GET" action="{% url 'processos_no_setor' %}" class="d-flex flex-row col-4">
            <input type="text" name="buscar" class="form-control me-2" placeholder="Buscar processos..." value="{{ query }}">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
    <hr>
    <div class="d-flex flex-row">
        <!-- A RECEBER -->
        <div class="col-5">
            <h5>A receber</h5>
            <div class="table-responsive" style="min-height: 50vh; max-height: 70vh;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Título</th>
                            <th></th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for processo_receber in receber %}
                            <tr style="height: 10px; background-color: transparent;"></tr>
                            <tr style="font-size: small;">
                                <td class="col-1" style="word-wrap: break-word; white-space: normal;">{{ processo_receber.numero }}</td>
                                <td class="col-3" style="word-wrap: break-word; white-space: normal;">{{ processo_receber.titulo|truncatewords:30 }}</td>
                                <td class="col-1"><span class="my-1 badge 
                                        {% if processo_receber.modalidade == 'fisico' %}bg-secondary          
                                        {% else %}bg-primary
                                        {% endif %}" style="width: fit-content;">
                                            {{ processo_receber.modalidade }}
                                        </span></td>
                                <!-- <td class="col-1" style="word-wrap: break-word; white-space: normal;">
                                    <span class="badge {% if processo_receber.status == 'concluido' %}bg-success{% else %}bg-warning{% endif %}">
                                        {{ processo_receber.get_status_display }}
                                    </span>
                                </td> -->
                                <td class="col-1">
                                    <div class="d-flex flex-column justify-content-center">
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            Ações
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <div class="dropdown-item">
                                                    <a type="button" href="{% url 'receber_processo' processo_receber.id %}" class="btn btn-sm btn-warning">
                                                        Receber
                                                    </a>
                                                    <a href="{% url 'detalhes_processo' processo_receber.id %}" class="btn btn-info btn-sm">
                                                        Detalhes
                                                    </a>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="word-wrap: break-word; white-space: normal; font-size: smaller; text-align: left;"><b>Descrição: </b>{{ processo_receber.descricao }}</td>
                            </tr>
                            <tr>
                                <td colspan="4" style="word-wrap: break-word; white-space: normal; font-size: smaller; text-align: left;">
                                    {% if processo_receber.ultima_movimentacao %}
                                        <div class="d-flex flex-column">
                                            <span> <b>Remetente:</b> {{ processo_receber.ultima_movimentacao.remetente }} ({{ processo_receber.ultima_movimentacao.realizado_por.get_full_name }} em {{ processo_receber.ultima_movimentacao.realizado_em|date:"d/m/Y H:m" }}) 
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                            
                        {% empty %}
                            <tr>
                                <td colspan="5">Nenhum processo encontrado.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="wrapper justify-content-center py-2">
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm justify-content-center">

                        {% if receber.has_previous %}
                            <li class="page-item">
                                
                                <a class="page-link" href="?page_receber=1{% if request.GET.page_recebidos %}&page_recebidos={{ request.GET.page_recebidos }}{% endif %}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}" aria-label="Anterior">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Primeira</span>
                                </a>
                            </li>   
                        {% endif %}
                    
                        {% for n in receber.paginator.page_range %}

                            {% if receber.number == n %}
                                <li class="page-item active">
                                    <span class="page-link">{{ n }}</span>
                                </li>
                            {% elif n > receber.number|add:'-3' and n < receber.number|add:'3' %}
                                <li class="page-item">
                                    <a class="page-link" href="?page_receber={{ n }}{% if request.GET.page_recebidos %}&page_recebidos={{ request.GET.page_recebidos }}{% endif %}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}">{{ n }}</a>
                                </li>
                            {% endif %}



                        {% endfor %}
                    
                        {% if receber.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page_receber={{ receber.paginator.num_pages }}{% if request.GET.page_recebidos %}&page_recebidos={{ request.GET.page_recebidos }}{% endif %}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}" aria-label="Próxima">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Última</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

        </div>
        <!-- RECEBIDOS -->
        <div class="col-7 px-3">
            <h5>Recebidos</h5>
            <div class="table-responsive" style="min-height: 50vh; max-height: 70vh;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Título</th>
                            <th></th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for processo_recebido in recebidos %}
                            <tr style="height: 10px; background-color: transparent;"></tr>
                            <tr style="font-size: small;">
                                <td class="col-1" style="word-wrap: break-word; white-space: normal;">{{ processo_recebido.numero }}</td>
                                <td class="col-3" style="word-wrap: break-word; white-space: normal;">{{ processo_recebido.titulo|truncatewords:30 }}</td>
                                <td class="col-1"><span class="my-1 badge 
                                        {% if processo_recebido.modalidade == 'fisico' %}bg-secondary          
                                        {% else %}bg-primary
                                        {% endif %}" style="width: fit-content;">
                                            {{ processo_recebido.modalidade }}
                                        </span></td>
                                <!-- <td class="col-1" style="word-wrap: break-word; white-space: normal;">
                                    <span class="badge {% if processo_recebido.status == 'concluido' %}bg-success{% else %}bg-warning{% endif %}">
                                        {{ processo_recebido.get_status_display }}
                                    </span>
                                </td> -->
                                <td class="col-1">
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            Ações
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <div class="dropdown-item">
                                                    <a class="btn btn-warning btn-sm" hx-get="{% url 'criar_movimentacao' processo_recebido.id %}" hx-target="#dialog" hx-trigger="click" data-bs-toggle="modal" data-bs-target="#modal">
                                                        Mover
                                                    </a>
                                                    <a href="{% url 'detalhes_processo' processo_recebido.id %}" class="btn btn-info btn-sm">
                                                        Detalhes
                                                    </a>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="word-wrap: break-word; white-space: normal; font-size: smaller; text-align: left;"><b>Descrição: </b>{{ processo_recebido.descricao }}</td>
                            </tr>
                            <tr>
                                <td colspan="4" style="word-wrap: break-word; white-space: normal; font-size: smaller; text-align: left;">
                                    {% if processo_recebido.ultima_movimentacao %}
                                        <div class="d-flex flex-column">
                                            <span> <b>Remetente:</b> {{ processo_recebido.ultima_movimentacao.remetente }} ({{ processo_recebido.ultima_movimentacao.realizado_por.get_full_name }} em {{ processo_recebido.ultima_movimentacao.realizado_em|date:"d/m/Y H:m" }}) 
                                            | <b>Destinatário:</b> {{ processo_recebido.ultima_movimentacao.destinatario }} ({% if processo_recebido.ultima_movimentacao.confirmacao == 'pendente' %}Pendente de recebimento{% else %}{{ processo_recebido.ultima_movimentacao.confirmado_por.get_full_name }} em {{ processo_recebido.ultima_movimentacao.confirmado_em|date:"d/m/Y H:m" }}{% endif %})</span>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5">Nenhum processo encontrado.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="wrapper justify-content-center py-2">
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm justify-content-center">

                        {% if recebidos.has_previous %}
                            <li class="page-item">
                                
                                <a class="page-link" href="?page_recebidos=1{% if request.GET.page_receber %}&page_receber={{ request.GET.page_receber }}{% endif %}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}" aria-label="Anterior">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Primeira</span>
                                </a>
                            </li>   
                        {% endif %}
                    
                        {% for n in recebidos.paginator.page_range %}

                            {% if recebidos.number == n %}
                                <li class="page-item active">
                                    <span class="page-link">{{ n }}</span>
                                </li>
                            {% elif n > recebidos.number|add:'-3' and n < recebidos.number|add:'3' %}
                                <li class="page-item">
                                    <a class="page-link" href="?page_recebidos={{ n }}{% if request.GET.page_receber %}&page_receber={{ request.GET.page_receber }}{% endif %}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}">{{ n }}</a>
                                </li>
                            {% endif %}



                        {% endfor %}
                    
                        {% if recebidos.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page_recebidos={{ recebidos.paginator.num_pages }}{% if request.GET.page_receber %}&page_receber={{ request.GET.page_receber }}{% endif %}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}" aria-label="Próxima">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Última</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>


        </div>
        
    </div>
    
{% endblock %}
