{% extends 'base2.html' %}
{% block titulo %}Processos no Setor{% endblock titulo %}
{% block contentdash %}
    <div class="d-flex justify-content-between">
        <h4><b>SGI</b> - Protocolos no Setor</h4>
        <form method="GET" action="{% url 'processos_no_setor' %}" class="d-flex flex-row col-4">
            <input type="text" name="buscar" class="form-control me-2" placeholder="Buscar processos..." value="{{ query }}">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
    <hr>
    <div class="d-flex flex-row">
        <!-- A RECEBER -->
        <div class="col-5">
            <h5>A receber</h5>
            <div class="table-responsive" style="min-height: 50vh; max-height: 70vh;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Título</th>
                            <th></th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for processo in processos %}
                            {% if processo.ultima_movimentacao.status == 'em_tramitacao' and processo.ultima_movimentacao.confirmacao == 'pendente' %}
                            <tr style="height: 10px; background-color: transparent;"></tr>
                            <tr style="font-size: small;">
                                <td class="col-1" style="word-wrap: break-word; white-space: normal;">{{ processo.numero }}</td>
                                <td class="col-3" style="word-wrap: break-word; white-space: normal;">{{ processo.titulo|truncatewords:30 }}</td>
                                <td class="col-1"><span class="my-1 badge 
                                        {% if processo.modalidade == 'fisico' %}bg-secondary          
                                        {% else %}bg-primary
                                        {% endif %}" style="width: fit-content;">
                                            {{ processo.modalidade }}
                                        </span></td>
                                <!-- <td class="col-1" style="word-wrap: break-word; white-space: normal;">
                                    <span class="badge {% if processo.status == 'concluido' %}bg-success{% else %}bg-warning{% endif %}">
                                        {{ processo.get_status_display }}
                                    </span>
                                </td> -->
                                <td class="col-1">
                                    <div class="d-flex flex-column justify-content-center">
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            Ações
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <div class="dropdown-item">
                                                    {% if processo.ultima_movimentacao.status == 'em_tramitacao' and processo.ultima_movimentacao.confirmacao == 'pendente' %}
                                                        <a type="button" href="{% url 'receber_processo' processo.id %}" class="btn btn-sm btn-warning">
                                                            Receber
                                                        </a>
                                                    {% else %}
                                                        <a class="btn btn-warning btn-sm" hx-get="{% url 'criar_movimentacao' processo.id %}" hx-target="#dialog" hx-trigger="click" data-bs-toggle="modal" data-bs-target="#modal">
                                                            Mover
                                                        </a>
                                                    {% endif %}
                                                    <a href="{% url 'detalhes_processo' processo.id %}" class="btn btn-info btn-sm">
                                                        Detalhes
                                                    </a>
                                                </div>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    
                                    
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="word-wrap: break-word; white-space: normal; font-size: smaller; text-align: left;"><b>Descrição: </b>{{ processo.descricao }}</td>
                            </tr>
                            <tr>
                                <td colspan="4" style="word-wrap: break-word; white-space: normal; font-size: smaller; text-align: left;">
                                    {% if processo.ultima_movimentacao %}
                                        <div class="d-flex flex-column">
                                            <span> <b>Remetente:</b> {{ processo.ultima_movimentacao.remetente }} ({{ processo.ultima_movimentacao.realizado_por.get_full_name }} em {{ processo.ultima_movimentacao.realizado_em|date:"d/m/Y H:m" }}) 
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                            
                        {% empty %}
                            <tr>
                                <td colspan="5">Nenhum processo encontrado.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- RECEBIDOS -->
        <div class="col-7 px-3">
            <h5>Recebidos</h5>
            <div class="table-responsive" style="min-height: 50vh; max-height: 70vh;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Título</th>
                            <th></th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for processo in processos %}
                            {% if not processo.ultima_movimentacao.status == 'em_tramitacao' and not processo.ultima_movimentacao.confirmacao == 'pendente' %}
                            <tr style="height: 10px; background-color: transparent;"></tr>
                            <tr style="font-size: small;">
                                <td class="col-1" style="word-wrap: break-word; white-space: normal;">{{ processo.numero }}</td>
                                <td class="col-3" style="word-wrap: break-word; white-space: normal;">{{ processo.titulo|truncatewords:30 }}</td>
                                <td class="col-1"><span class="my-1 badge 
                                        {% if processo.modalidade == 'fisico' %}bg-secondary          
                                        {% else %}bg-primary
                                        {% endif %}" style="width: fit-content;">
                                            {{ processo.modalidade }}
                                        </span></td>
                                <!-- <td class="col-1" style="word-wrap: break-word; white-space: normal;">
                                    <span class="badge {% if processo.status == 'concluido' %}bg-success{% else %}bg-warning{% endif %}">
                                        {{ processo.get_status_display }}
                                    </span>
                                </td> -->
                                <td class="col-1">
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            Ações
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <div class="dropdown-item">
                                                    {% if processo.ultima_movimentacao.status == 'em_tramitacao' and processo.ultima_movimentacao.confirmacao == 'pendente' %}
                                                        <a type="button" href="{% url 'receber_processo' processo.id %}" class="btn btn-sm btn-warning">
                                                            Receber
                                                        </a>
                                                    {% else %}
                                                        <a class="btn btn-warning btn-sm" hx-get="{% url 'criar_movimentacao' processo.id %}" hx-target="#dialog" hx-trigger="click" data-bs-toggle="modal" data-bs-target="#modal">
                                                            Mover
                                                        </a>
                                                    {% endif %}
                                                    <a href="{% url 'detalhes_processo' processo.id %}" class="btn btn-info btn-sm">
                                                        Detalhes
                                                    </a>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="word-wrap: break-word; white-space: normal; font-size: smaller; text-align: left;"><b>Descrição: </b>{{ processo.descricao }}</td>
                            </tr>
                            <tr>
                                <td colspan="4" style="word-wrap: break-word; white-space: normal; font-size: smaller; text-align: left;">
                                    {% if processo.ultima_movimentacao %}
                                        <div class="d-flex flex-column">
                                            <span> <b>Remetente:</b> {{ processo.ultima_movimentacao.remetente }} ({{ processo.ultima_movimentacao.realizado_por.get_full_name }} em {{ processo.ultima_movimentacao.realizado_em|date:"d/m/Y H:m" }}) 
                                            | <b>Destinatário:</b> {{ processo.ultima_movimentacao.destinatario }} ({% if processo.ultima_movimentacao.confirmacao == 'pendente' %}Pendente de recebimento{% else %}{{ processo.ultima_movimentacao.confirmado_por.get_full_name }} em {{ processo.ultima_movimentacao.confirmado_em|date:"d/m/Y H:m" }}{% endif %})</span>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                        {% empty %}
                            <tr>
                                <td colspan="5">Nenhum processo encontrado.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    
{% endblock %}
