{% extends "baseprotocolo.html" %}
{% load custom_filters %}
{% block titulo %}Processos Encaminhados pelo Setor{% endblock titulo %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Número</th>
                <th>Título</th>
                <th>Status</th>
                <th>Demandante</th>
                <th>Atual</th>
                <th>Atualização</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for processo in processos %}
                <tr>
                    <td>{{ processo.numero }}</td>
                    <td>{{ processo.titulo|truncatewords:30 }}</td>
                    <td>{{ processo.get_status_display }}</td>
                    <td>{{ processo.setor_demandante }}</td>
                    <td>{{ processo.setor_atual }}</td>
                    <td>{{ processo.atualizado_em }}</td>
                    <td>
                        <a href="{% url 'detalhes_processo' processo.id %}" class="btn btn-info btn-sm">Detalhes</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">Nenhum processo encontrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
