{% extends "base2.html" %}
{% load custom_filters %}
{% block titulo %}Processos Arquivados{% endblock titulo %}

{% block contentdash %}
    <div class="d-flex justify-content-between">
        <h4><b>SGI</b> - Protocolos no arquivados</h4>
        <form method="GET" class="d-flex flex-row col-4">
            <input type="text" name="buscar" class="form-control me-2" placeholder="Buscar processos..." value="{{ query }}">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
    <hr>
    <div class="table-responsive" style="max-height: 70vh;">
        <table class="table">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Título</th>
                    <th>Movimentação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for processo in processos %}
                    <tr style="height: 4px; background-color: transparent;"></tr>
                    <tr>
                        <td class="col-2" style="word-wrap: break-word; white-space: normal;">{{ processo.numero }}</td>
                        <td class="col-3" style="word-wrap: break-word; white-space: normal;">{{ processo.titulo|truncatewords:30 }}</td>
                        <td class="" style="font-size: smaller;">
                            {% if processo.ultima_movimentacao %}
                                <div class="d-flex flex-column">
                                    <span>  </span>
                                    <span>Arquivado por {{ processo.ultima_movimentacao.realizado_por.get_full_name }} em {{ processo.ultima_movimentacao.realizado_em|date:"d/m/Y H:m" }}</span>
                                </div>
                            {% endif %}
                        </td>
                        <td class="col-1" rowspan="2">
                            <a href="{% url 'detalhes_processo' processo.id %}" class="btn btn-info btn-sm">
                                Detalhes
                            </a>                           
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="word-wrap: break-word; white-space: normal; font-size: smaller; text-align: left;"><b>Descrição: </b>{{ processo.descricao }}</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="word-wrap: break-word; white-space: normal; font-size: smaller; text-align: left;"><b>Anotação do arquivamento: </b>{{ processo.ultima_movimentacao.descricao }}</td>
                    </tr>
                    
                    
                {% empty %}
                    <tr>
                        <td colspan="5">Nenhum processo encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="wrapper justify-content-center py-2">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm justify-content-center">

                {% if processos.has_previous %}
                    <li class="page-item">

                        {% if request.GET.buscar %}
                            <a class="page-link" href="?page=1&buscar={{request.GET.buscar}}" aria-label="Anterior">
                        {% else %}
                            <a class="page-link" href="?page=1" aria-label="Anterior">
                        {% endif %}
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Primeira</span>
                        </a>
                    </li>   
                {% endif %}
            
                {% for n in processos.paginator.page_range %}

                    {% if processos.number == n %}
                        <li class="page-item active">
                            <span class="page-link">{{ n }}</span>
                        </li>
                    {% elif n > processos.number|add:'-3' and n < processos.number|add:'3' %}
                        {% if request.GET.buscar %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}&buscar={{request.GET.buscar}}">{{ n }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                        {% endif %}
                    {% endif %}



                {% endfor %}
            
                {% if processos.has_next %}
                    <li class="page-item">
                        {% if request.GET.buscar %}
                            <a class="page-link" href="?page={{ processos.paginator.num_pages }}&buscar={{request.GET.buscar}}" aria-label="Próxima">
                        {% else %}
                            <a class="page-link" href="?page={{ processos.paginator.num_pages }}" aria-label="Próxima">
                        {% endif %}
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Última</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
