{% extends "base2.html" %}
{% load custom_filters %}
{% block titulo %}Processos Encaminhados pelo Setor{% endblock titulo %}

{% block contentdash %}
    <div class="d-flex justify-content-between">
        <h4><b>SGI</b> - Protocolos Encaminhados por este setor</h4>
        <form method="GET" action="{% url 'processos_encaminhados_pelo_setor' %}" class="d-flex flex-row col-4">
            <input type="text" name="buscar" class="form-control me-2" placeholder="Buscar processos..." value="{{ query }}">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
    <hr>
    <div class="table-responsive" style="max-height: 70vh;">
        <table class="table">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Título</th>
                    <th>Movimentação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for processo in processos %}
                    <tr style="height: 4px; background-color: transparent;"></tr>
                    <tr style="font-size: small;">
                        <td class="col-2" style="word-wrap: break-word; white-space: normal;">{{ processo.numero }}</td>
                        <td class="col-4" style="word-wrap: break-word; white-space: normal;">{{ processo.titulo|truncatewords:30 }}</td>
                        <td class="" style="font-size: smaller;">
                            {% if processo.ultima_movimentacao %}
                                <div class="d-flex flex-column">
                                    <span>Remetente: {{ processo.ultima_movimentacao.remetente }} ({{ processo.ultima_movimentacao.realizado_por.get_full_name }} em {{ processo.ultima_movimentacao.realizado_em|date:"d/m/Y H:m" }})</span>
                                    <span>Destinatário: {{ processo.ultima_movimentacao.destinatario }} (
                                        {% if processo.ultima_movimentacao.confirmacao == 'pendente' %}Pendente de recebimento
                                        {% elif processo.ultima_movimentacao.confirmacao == 'manual' %}Encaminhado Manualmente em {{ processo.ultima_movimentacao.realizado_em|date:"d/m/Y H:m" }}
                                        {% else %}{{ processo.ultima_movimentacao.confirmado_por.get_full_name }} em {{ processo.ultima_movimentacao.confirmado_em|date:"d/m/Y H:m" }}{% endif %})</span>
                                </div>
                            {% endif %}
                        </td>
                        <td class="col-1" rowspan="2">
                            <a href="{% url 'detalhes_processo' processo.id %}" class="btn btn-info btn-sm">
                                Detalhes
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="word-wrap: break-word; white-space: normal; font-size: smaller; text-align: left;"><b>Descrição: </b>{{ processo.descricao }}</td>
                    </tr>
                    
                {% empty %}
                    <tr>
                        <td colspan="5">Nenhum processo encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
