<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Protocolo de Movimentação</title>  
</head>
<body>
    <!-- <header>
        <img src="data:image/png;base64,{{ header_image }}" alt="Header">
        <img class="brasao" src="data:image/png;base64,{{ brasao_image }}" alt="Brasão da Prefeitura">
    </header> -->
    <style>
        @page {
            background-image: url("data:image/png;base64,{{ bg_timbrado }}");
        }
    </style>
    <div class="content">
        <h1>Protocolo de Movimentação</h1>
        <ul style="margin: 0; padding: 0; list-style: none;">
            <li><strong>Setor Destino:</strong> {{ protocolo.setor_destino.nome }}</li>
            <li><strong>Data da entrega:</strong> {{ protocolo.criado_em }}</li>
            <li><strong>Protocolo emitido por:</strong> {{ protocolo.criado_por }} - Controle Interno</li>
        </ul>

        <h2>Movimentações</h2>
        <table>
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Título</th>
                    <th>Origem</th>
                    <th style="width: 20%;">Conferência</th>
                </tr>
            </thead>
            <tbody>
                {% for movimentacao in protocolo.movimentacoes.all %}
                    <tr>
                        <td>{{ movimentacao.processo.numero }}</td>
                        <td>{{ movimentacao.processo.titulo }}</td>
                        <td>{{ movimentacao.processo.setor_demandante }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="font-size: small; text-align: left; font-style: italic;" colspan="4"><b>Descrição:</b> {{ movimentacao.processo.descricao }}</td>
                    </tr>
                    <tr>
                        <td style="border-left: none; border-right: none; height: 2px;" colspan="4"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="signature" style="margin-top: 10%;">
            <p>_________________________________________</p>
            <p>Setor Destino: {{ protocolo.setor_destino.nome }}</p>
        </div>
    </div>

    <!-- <footer>
        <img src="data:image/png;base64,{{ footer_image }}" alt="Footer">
        <div class="dados-footer">
            <p style="margin:0px">Rua Coronel José Belarmino, nº 048, Centro, Cortês-PE</p>                    
            <p style="margin:0px">CEP 55.525-000 | CNPJ: 10.273.548/0001-69</p>
            <p style="margin:0px">E-mail: gabineteprefeitacortes@gmail.com</p>
        </div>
    </footer> -->
</body>
</html>
