<div style="max-height: 500px; overflow-y: auto;" class="border rounded p-2 bg-white">
    {% for processo in sugestoes %}
    <div class='card p-2 mb-2'>
        <p><strong>{{processo.titulo}}</strong></p>
        <p><small>{{processo.descricao}}</small></p>
        <p><small><b>Nº Documento:</b> {{processo.numero}} | <b>Setor Fim:</b> {{processo.fim.nome}}</small></p>
        <button type="button" class="btn btn-sm btn-outline-primary"
                onclick="preencherCampos('{{processo.numero}}', '{{processo.titulo}}', `{{processo.descricao}}`, '{{processo.fim.id}}')">
            Usar este modelo
        </button>
    </div>
    {% endfor %}
</div>