{% extends "base.html" %}

{% block head_title %} Ordens de Fornecimento {% endblock head_title %}

{% block contentdash %}
    <form action="." method="get" class="d-flex justify-content-between">
        <h4><b>SGI</b> - Painel do Gestor</h4>
        <div class="d-flex">
            <input type="text" id="buscar" name="buscar" class="form-group form-control" style="width:300px; margin-right:5px" placeholder="Contrato, Processo, Ano ou Fornecedor...">
            <input type="submit" class="btn btn-primary form-group" value="Buscar">
        </div>
        <!-- <a type="button" class="btn btn-success" hx-get="{% url 'add_contratos' %}" hx-target="#dialog">Adicionar Contratos</a> -->
    </form>
    <hr>
    <div class="table-responsive" style="max-height: 520px;">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th class="col-1">Processo</th>
                    <th class="col-1">Contrato</th>
                    <th class="col-1">UG</th>
                    <th class="col-1">Secretaria</th>
                    <th class="col-1">Fiscal</th>
                    <th class="col-2">Vigência</th>
                    <th class="col">Contratada</th>
                    <th class="col-1">Saldo</th>
                    <th class="col-1">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for ordem in ordens %}
                <tr>
                    <td>{{ ordem.contrato.NumeroProcesso }}/{{ ordem.contrato.AnoProcesso }}</td>
                    <td>{{ ordem.contrato.NumeroContrato }}/{{ ordem.contrato.AnoContrato }}</td>
                    <td>{% if ordem.contrato.UnidadeGestora %}{{ ordem.contrato.UnidadeGestora }}{% else %}-{%endif%}</td>
                    <td>{{ ordem.sec }}</td>
                    <td>{{ ordem.fiscal }}</td>
                    <td>{{ ordem.contrato.data_inicio|date:"d/m/Y" }} à {{ ordem.contrato.data_fim|date:"d/m/Y" }}</td>
                    <td>{{ ordem.contrato.Fornecedor.RazaoSocial }}</td>
                    <td>R$ {{ ordem.saldoAtual|floatformat:2 }}</td>
                    <td>
                        <div class='btn-group btn-group-sm' role='group'>
                            <a href="{{ ordem.contrato.LinkContrato }}" class="btn btn-secondary" target="_blank"><i class="lni lni-add-files"></i></a>
                        </div>
                        <div class='btn-group btn-group-sm' role='group'>
                            <a href="{% url 'saldo_detalhes' ordem.id %}" class="btn btn-primary"><i class="lni lni-upload"></i></a>
                        </div>
                    </td>
                    </tr>
                    <tr>
                        <td colspan="9" style="font-size: smaller; text-align: justify;"><b>Objeto: </b>{{ ordem.contrato.Objeto }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="wrapper justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                {% if ordens.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Primeira</span>
                        </a>
                    </li>   
                {% endif %}
            
                {% for n in ordens.paginator.page_range %}
                    {% if ordens.number == n %}
                        <li class="page-item active">
                            <span class="page-link">{{ n }}</span>
                        </li>
                    {% elif n > ordens.number|add:'-3' and n < ordens.number|add:'3' %}
                       <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                    {% endif %}
                {% endfor %}
            
                {% if ordens.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ processos.paginator.num_pages }}" aria-label="Próxima">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Última</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>    
{% endblock contentdash %}
