{% extends "base.html" %}
{% load somaitens %}

{% block head_title %} Ordem de Fornecimento {% endblock head_title %}

{% block contentdash %}
    <div>
        <h4><b>Processo Licitatório:</b> {{ contrato.NumeroProcesso }}/{{ contrato.AnoProcesso }} - <b>Contrato:</b> {{ contrato.NumeroContrato }}/{{ contrato.AnoContrato }} - <b>{{ contrato.TipoProcesso }}</b></h4>
    </div>
    <hr>
    <div>
        <form class="row" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-4">
                <label for="id_descricao">Descrição:</label>
                <textarea rows="5" class="form-control form-control-sm" name="descricao" id="id_descricao"></textarea>
                <div style="padding-top: 0.5rem;">
                    <button type="submit" class="btn btn-success btn-sm">Emitir OF</button>
                    <a href="{% url 'of_enviar' SaldoContratoSec.id %}" class="btn btn-danger btn-sm">Cancelar</a>
                </div>
            </div>
                
            <div class="col-8">
            <!-- <form class="table-overflow form-control form-control-sm" style="max-height: 500px;"> -->
                <table style="font-size: smaller;" class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Descrição do item</th>
                            <th scope="col"></th>
                            <th scope="col">Unid.</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Contratada</th>
                            <th scope="col">Disponível</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in itensof %}
                            <tr>
                                <td style="font-size: smaller;" scope="col">{{ item.Descricao }}</td>
                                {% if item|totalPorItem:'dif_sec' != 0 %}
                                    <td style="width: 10%;" scope="col" style="width: 7%;"><input class="form-control form-control-sm" style="text-align: center;" type="number" name="quantidade" id="quantidade" value="0"></td>
                                {% else %}
                                    <td scope="col" style="width: 7%;"><input class="form-control form-control-sm" style="text-align: center;" type="number" name="quantidade" id="quantidade" value="0" readonly></td>
                                {% endif %}
                                <td scope="col">{{ item.Unidade }}</td>
                                <td scope="col">R${{ item.PrecoUnitario }}</td>
                                <td scope="col">{{ item|totalPorItem:'entrada_sec' }}</td>
                                <td scope="col">{{ item|totalPorItem:'dif_sec' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>                
    </div>
{% endblock contentdash %}
