{% extends "base2.html" %}
{% load somaitens %}

{% block head_title %} Ordem de Fornecimento {% endblock head_title %}

{% block contentdash %}
    <div>
        <h4><b>Processo Licitatório:</b> {{ contrato.NumeroProcesso }}/{{ contrato.AnoProcesso }} - <b>Contrato:</b> {{ contrato.NumeroContrato }}/{{ contrato.AnoContrato }} - <b>{{ contrato.TipoProcesso }}</b></h4>
        <div style="font-size: x-small;" class="px-1">
            <p><b>Contratada:</b> {{ contrato.Fornecedor.RazaoSocial }}<br>
            <b>Objeto:</b> {{ contrato.Objeto }}</p>
        </div>
    </div>
    <hr>
    
    <div class="row">
        <div class="col-2 p-0">
            <div class="card p-2 m-0 text-dark bg-white">
                
                <div class="card-header bg-white" style="font-size: medium;"><b>Vigência</b></div>
                <div class="card-body p-1" style="font-size: medium;">
                    <small>{{contrato.data_inicio|date:"d/m/Y"}} à {{contrato.data_fim|date:"d/m/Y"}}</small>
                </div>

                <div class="card-header bg-white" style="font-size: medium;"><b>Valor contratado</b></div>
                <div class="card-body p-1">
                    <small>R$ {{ SaldoContratoSec.totalEntradas|floatformat:2 }}</small>
                </div>

                <div class="card-header bg-white" style="font-size: medium;"><b>Saldo consumido</b></div>
                <div class="card-body p-1">
                    <small>R$ {{ SaldoContratoSec.totalSaidas|floatformat:2 }}</small>
                </div>

                <div class="card-header bg-white" style="font-size: medium;"><b>Saldo disponível</b></div>
                <div class="card-body p-1">
                    <small>R$ {{ SaldoContratoSec.saldoAtual|floatformat:2 }}</small>
                </div>
                <!-- <a href="{% url 'of_emitir' SaldoContratoSec.id %}" class="btn btn-sm btn-primary my-3">Emitir nova ordem</a> -->
                <a hx-get="{% url 'confirmar_fornecedor' SaldoContratoSec.id %}" hx-target="#dialog" class="btn btn-sm btn-primary my-1">Emitir nova ordem</a>
                <a href="{% url 'exportar_excel_saldo' SaldoContratoSec.id %}" class="btn btn-outline-success btn-sm">
                    <i class="lni lni-download"></i> Exportar Saldo
                </a>
            </div>
        </div>
        <div class="col-10">
            <div class="table-responsive" style="max-height: 400px;">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Und</th>
                            <th scope="col">Qtd</th>
                            <th scope="col">V.Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entrada in itemEntrada %}
                        <tr>
                            <td scope="col">{{ entrada.item.Descricao }}</th>
                            <td scope="col">{{ entrada.item.Unidade }}</th>
                            <td scope="col">{{ entrada.total_por_item }}/{{ entrada.quantidade }}</th>
                            <td scope="col">R${{ entrada.item.PrecoUnitario|floatformat:2 }}</th>
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>        
        
    </div>
    <br>
    <div class="card d-flex justify-content-between table-responsive">
        <table class="table table-striped table-hover table-sm ">
            <thead>
                <tr>
                    <th scope="col">Data e Hora</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Valor</th>
                    <!-- <th scope="col">Arquivo</th> -->
                    <th scope="col">Enviado por</th>
                    <th scope="col">Visualizar</th>
                    {% if perms.auth.Controle %}
                        <th scope="col">Ações</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for log in page_ordens_log %}
                    <tr>
                        <td>{{ log.dataehora }}</td>
                        <td>{{ log.descricao }}</td>
                        <td>R$ {{ log.valor|floatformat:2 }}</td>
                        <!-- <td>
                            {% if log.arquivo %}
                                <a href="/media/ log.arquivo " class="btn-sm"><i class="lni lni-folder"></i> Visualizar anexo</a>
                            {% endif %}
                        </td> -->
                        <td>{{ log.usuario }}</td>
                        <td>
                            <div class='btn-group btn-group-sm' role='group'></div>
                                <a href="{{ log.arquivo.url }}" target="_blank" class="btn btn-success btn-sm"><i class="fa-solid fa-eye"></i></a>
                                <!-- <a href="#" class="btn btn-primary btn-sm"><i class="lni lni-dollar"></i></a> -->
                            </div>
                        </td>
                        {% if perms.auth.Controle %}
                            <td>
                                <a href="{% url 'of_log_delet' log.saldoContratosec.id log.id %}" class="btn btn-success btn-sm"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="wrapper justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm">
                    {% if avaliacao_log_hist.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Anterior">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Primeira</span>
                            </a>
                        </li>
                    {% endif %}
                
                    {% for n in avaliacao_log_hist.paginator.page_range %}
                        {% if avaliacao_log_hist.number == n %}
                            <li class="page-item active">
                                <span class="page-link">{{ n }}</span>
                            </li>
                        {% elif n > avaliacao_log_hist.number|add:'-3' and n < avaliacao_log_hist.number|add:'3' %}
                           <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                        {% endif %}
                    {% endfor %}
                
                    {% if avaliacao_log_hist.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ avaliacao_log_hist.paginator.num_pages }}" aria-label="Próxima">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Última</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

    </div>
{% endblock contentdash %}
