{% extends "baseconsulta.html" %}
{% load custom_filters %}

{% block head_title %} Consulta {% endblock head_title %}

{% block contentdash %}
    <div class="d-flex justify-content-between">
        <h4><b>SGI</b> - Consultar Declaração</h4>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="d-flex justify-content-center my-2 px-5">
                <h5 class="mx-2">Chave de autenticação:</h5>
                <input type="text" id="consultaInput" name="chave" hx-trigger="click from:#consultaBotao" hx-get="{% url 'dadosdeclaracao_externa' %}" hx-target="#resultadoDiv" class="form-group form-control mx-2" placeholder="Digite a chave" style="width: fit-content;">
                <a type="button" id="consultaBotao" class="form-control mx-2" style="width: fit-content;">Consultar</a>
        </div>
        <hr>
        <div id="resultadoDiv">
            <p>Digite o código de autenticação e clique em buscar...</p>
        </div>
    </div>
    
{% endblock contentdash %}
