{% extends "base2.html" %}
{% load custom_filters %}

{% block head_title %} Consulta {% endblock head_title %}

{% block contentdash %}
<div class="d-flex justify-content-between">
    <h4><b>SGI</b> - Consultar Declaração</h4>
</div>
<hr>

<div class="row justify-content-center">
    <div class="col-md-8">
        <form method="get" action="{% url 'dadosdeclaracao_externa' %}" class="d-flex align-items-center">
            <label for="consultaInput" class="mx-2">Chave de autenticação:</label>
            <input type="text" id="consultaInput" name="chave" class="form-control mx-2" placeholder="Digite a chave" style="width: 400px;">
            <button type="submit" class="btn btn-primary mx-2">Consultar</button>
        </form>
    </div>
</div>
{% endblock contentdash %}
