{% load custom_filters %}
{% if declaracao %}
    <div class="declaracao-info">
        <h4>Dados da Declaração</h4>
        <table class="table table-overflow">
            <tr>
                <td>
                    <strong>Fornecedor:</strong> {{ declaracao.fornecedor.RazaoSocial }}
                </td><td>
                    <strong>CNPJ/CPF:</strong> {{ declaracao.fornecedor.NumeroDocumentoAjustado }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Data de Emissão:</strong> {{ declaracao.data_emissao|date_format }}
                </td>
                <td>
                    {% if declaracao.data_validade %}
                        <strong>Vigência:</strong> {{ declaracao.data_inicio|date_format }} à {{ declaracao.data_validade|date_format }}
                    {% else %}
                        <strong>Vigência:</strong> -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Chave de Autenticidade:</strong> {{ declaracao.codigo }}
                </td>
                <td>
                    <a type="btn" href="/{{ declaracao.arquivo }}" target="_blank"><i class="lni lni-eye"></i> Visualizar declaração</a>
                </td>
            </tr>
        </table>
    </div>

    <div class="certidoes-info">
        <h4>Certidões Vinculadas</h4>
        <strong>Situação: </strong>{% if regularidade %}Regular{% else %}Certidões insuficientes para atestar a regularidade{% endif %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Certidão</th>
                    <th>Data de Emissão</th>
                    <th>Data de Validade</th>
                    <th>Autenticação</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                {% for tipo, certidao in certidoes.items %}
                    {% if certidao %}
                        <tr>
                            <td>{{ tipo }}</td>
                            <td>{{ certidao.dataEmissao }}</td>
                            <td>{{ certidao.dataValidade }}</td>
                            <td>{{ certidao.autenticacao }}</td>
                            <td><a href="{{ certidao.arquivo.url }}" download>Baixar</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ tipo }}</td>
                            <td>-</td>
                            <td>-</td>
                            <td>Não localizada</td>
                            <td>-</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p class="error-message">Declaração não encontrada ou inválida. Verifique a chave de autenticidade e tente novamente.</p>
{% endif %}