{% extends "base2.html" %}
{% load custom_filters %}

{% block contentdash %}
<div class="d-flex justify-content-between" style="align-items: end;">
    <h4><b>SGI</b> - Dados da Declaração</h4>
    <a href="{% url 'consulta_externa' %}" class="btn btn-secondary mt-4">Nova Consulta</a>
</div>
<hr>

{% if declaracao %}
    <div class="declaracao-info">
        <table class="table table-overflow">
            <tr>
                <td>
                    <strong>Fornecedor:</strong> {{ declaracao.fornecedor.RazaoSocial }}
                </td><td>
                    <strong>CNPJ/CPF:</strong> {{ declaracao.fornecedor.NumeroDocumentoAjustado }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Data de Emissão:</strong> {{ declaracao.data_emissao|date:"d/m/Y" }}
                </td>
                <td>
                    {% if declaracao.data_validade %}
                        <strong>Vigência:</strong> {{ declaracao.data_inicio|date:"d/m/Y" }} à {{ declaracao.data_validade|date:"d/m/Y" }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Chave de Autenticidade:</strong> {{ declaracao.codigo }}
                </td>
                <td>
                    {% if declaracao.situacao == '-' %}
                        <a type="btn" href="/{{ declaracao.arquivo }}" target="_blank"><i class="lni lni-eye"></i> Visualizar declaração</a>
                    {% else %}
                        <a type="btn" href="{{ declaracao.arquivo.url }}" target="_blank"><i class="lni lni-eye"></i> Visualizar declaração</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

    <div class="certidoes-info">
        <h4>Certidões Vinculadas</h4>
        <strong>Situação: </strong>{% if declaracao.situacao == 'regular' %}Regular {% elif regularidade %}Regular {% else %}Certidões insuficientes para atestar a regularidade{% endif %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Certidão</th>
                    <th>Data de Emissão</th>
                    <th>Data de Validade</th>
                    <th>Autenticação</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                {% for certidao in declaracao.certidoes.all %}
                    {% if certidao %}
                        <tr>
                            <td>{{ certidao.tipo }}</td>
                            <td>{{ certidao.dataEmissao }}</td>
                            <td>{{ certidao.dataValidade }}</td>
                            <td>{{ certidao.autenticacao }}</td>
                            <td><a href="{{ certidao.arquivo.url }}" target="_blank">Visualizar</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% endblock %}