{% load custom_filters %}
{% for declaracao in declaracoes %}
    {% if declaracao.data_validade %}
    <tr>
        <td>{{ declaracao.data_emissao|date_format }}</td>
        <td>{{ declaracao.data_inicio|date_format }}</td>
        <td>{{ declaracao.data_validade|date_format }}</td>
        <td>
            <div class='btn-group btn-group-sm' role='group'>
                <a type="btn" href="{{ declaracao.arquivo.url }}" target="_blank"><i class="lni lni-eye"></i></a>
            </div>
        </td>
    </tr>
    {% else %}
    <tr>
        <td>{{ declaracao.data_emissao|date_format }}</td>
        <td colspan="2" style="font-size: smaller; color: red;">Certidões insuficientes</td>
        <td>
            <div class='btn-group btn-group-sm' role='group'>
                {% if declaracao.arquivo %}
                    <a type="btn" href="{{ declaracao.arquivo.url }}" target="_blank"><i class="lni lni-eye"></i></a>
                {% endif %}
            </div>
        </td>
    </tr>
    {% endif %}
{% endfor %}