{% load custom_filters %}
{% for declaracao in declaracoes %}
    {% if declaracao %}
        <tr>
            <td>{{ declaracao.data_emissao|date_format }}</td>
            {% if declaracao.data_validade %}
                <td>{{ declaracao.data_inicio|date_format }}</td>
                <td>{{ declaracao.data_validade|date_format }}</td>
            {% else %}
                <td colspan="2" style="font-size: smaller; color: red;">Certidões insuficientes</td>
            {% endif %}
            <td>
                <div class='btn-group btn-group-sm' role='group'>
                    {% if declaracao.situacao == '-' %}
                        <a type="btn" href="/{{ declaracao.arquivo }}" target="_blank"><i class="lni lni-eye"></i></a>
                    {% else %}
                        <a type="btn" href="{{ declaracao.arquivo.url }}" target="_blank"><i class="lni lni-eye"></i></a>
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endif %}
{% endfor %}