<div class="modal-content" hx-debug="true">
    <div class="modal-header justify-content-between">

        <h5 class="modal-title">Regularidade Fiscal</h5>

        <!-- Data de referência -->
        <form action="{% url 'emitir_declaracao' fornecedor.id %}" method="post" class="d-flex flex-row" style="align-items:end">
            {% csrf_token %}
            <div class="flex-column mx-2">
                <label for="data_referencia" style="font-size: x-small;">Data de referência:</label>
                <input class="form-control form-control-sm" type="date" name="data_referencia">
            </div>

            <!-- botões de ação -->
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary btn-sm dropdown-toggle" style="height: fit-content;" data-bs-toggle="dropdown" aria-expanded="false">
                Emitir/Incluir
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <div class="dropdown-item">
                        <a type="button" class="btn btn-sm" hx-get="{% url 'certidoes_add' fornecedor.id %}" hx-target="#dialog">Incluir Certidão</a>
                    </div>
                    <div class="dropdown-item">
                        <button type="submit" class="btn btn-sm" id="emitirdeclaracao">Emitir Declaração</button>
                    </div>
                </ul>
            </div>
        </form>              
    </div>
    <div class="modal-body">
        <div class="row justify-content-center">

            <div class="col-md-6">
                <h5 style="text-align: center;">Certidões</h5>
                
                <div class="table-responsive" style="max-height: 400px;">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Certidão</th>
                                <th scope="col">Emissão</th>
                                <th scope="col">Validade</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
            
                        <tbody hx-trigger="load, CertidoesListChanged from:body" hx-get="{% url 'certidoes_list' fornecedor.pk %}" hx-target="this">
                            <tr>
                            <td class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
            <div class="col-md-6">
                <h5 style="text-align: center;">Declarações</h5>
                <div class="table-responsive" style="max-height: 400px;">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Referência</th>
                                <th scope="col">Início</th>
                                <th scope="col">Validade</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
            
                        <tbody hx-trigger="load, DeclaracoesListChanged from:body" hx-get="{% url 'declaracoes_list' fornecedor.pk %}" hx-target="this">
                            <tr>
                            <td class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <small style="font-size: xx-small;">Informações do fornecedor <b>{{fornecedor.RazaoSocial}}</b></small>
    </div>
</div>