<div class="modal-content" hx-debug="true">
    <div class="modal-header justify-content-between">
        <h5 class="modal-title">Adicionar Tarefa</h5>
    </div>
    <div class="modal-body">
        <div class="row justify-content-center">

            <form method="post" action="{% url 'adicionar_tarefa' avaliacao.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        <div class="mb-3">
                            <label for="data_limite">Data Limite:</label>
                            <input type="date" id="data_limite" name="data_limite" class="form-control" required>
                            <label for="tarefa">Descrição da tarefa:</label>
                            <textarea type="text" rows="3" id="tarefa" name="tarefa" class="form-control" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                    <div class="col">
                        <div class="alert alert-secondary" role="alert">
                            <p><b>Atenção:</b> A data limite deverá ser a referência para as novas tarefas de acordo com a periodicidade do critério.</p>
                            <p>A descrição da tarefa discrimina o documento/esclarecimento que deve ser enviado.</p>
                          </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <small style="font-size: xx-small;">Informações enviadas por <b>{{ request.user }}</b></small>
    </div>
</div>