<div class="modal-content" hx-debug="true">
    <div class="modal-header justify-content-between">
        <h5 class="modal-title">Criar avaliação</h5>
    </div>
    <div class="modal-body">
        <div class="row justify-content-center">

            <form method="post" action="{% url 'adicionar_avaliacao' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        Critério:
                        {{ formAval.criterio }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        Secretaria:
                        {{ formAval.secretaria }}
                    </div>
                    <div class="col-4">
                        Responsável:
                        {{ formAval.responsavel }}
                    </div>
                    <div class="col-4">
                        Status:
                        {{ formAval.status }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Criar</button>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <small style="font-size: xx-small;">Informações enviadas por <b>{{ request.user }}</b></small>
    </div>
</div>