{% extends 'base2.html' %}
{% block titulo %}Minhas Avaliações{% endblock titulo %}
{% block contentdash %}
<form method="GET" action="{% url 'listar_avaliacoes' %}" class="d-flex mb-3">
    <input type="text" name="buscar" class="form-control me-2" placeholder="Buscar avaliação..." value="{{ query }}">
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Secretaria Responsável</th>
                <th>Data Limite</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for avaliacao in avaliacoes %}
            <tr><td colspan="4" style="height: 5px; background-color: transparent;"></td></tr>
            <tr style="border: 1px solid white;">
                <td>{{ avaliacao.secretaria }}</td>
                <td> - </td>
                <td>
                    <span class="badge {% if avaliacao.status == 'Pendente' %}bg-warning{% elif avaliacao.status == 'Em análise' %}bg-primary{% else %}bg-success{% endif %}">
                        {{ avaliacao.get_status_display }}
                    </span>
                </td>
                <th rowspan="2" style="padding-top: 11px;">
                    <a href="{% url 'detalhes_avaliacao' avaliacao.id %}" class="btn btn-info btn-sm">Detalhes</a>
                </th>
            </tr>
            <tr>
                <td class="" style="text-align: left; padding-left: 30px; font-size: small;  margin-top: -8px;" colspan="3">
                    <b>Critério: </b>Item {{ avaliacao.criterio.item }} - {{ avaliacao.criterio.criterio }}
                </td>
            </tr>
            
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">Nenhuma avaliação encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
