<div class="modal-content" hx-debug="true">
    <div class="modal-header justify-content-between">
        <h5 class="modal-title">Incluir Documento</h5>
    </div>
    <div class="modal-body">
        <div class="row justify-content-center">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Dimensão</th>
                        <th>Item</th>
                        <th>Critério</th>
                        <th>Periodicidade</th>
                        <th>Classificação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for criterio in criterios %}
                    <tr>
                        <td> criterio.dimensao </td>
                        <td> criterio.item </td>
                        <td> criterio.criterio </td>
                        <td> criterio.periodicidade </td>
                        <td> criterio.get_classificacao_display </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">Nenhum critério encontrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <small style="font-size: xx-small;">Informações enviadas por <b> request.user </b></small>
    </div>
</div>
