{% extends "base.html" %}

{% block head_title %} Contratos {% endblock head_title %}

{% block contentdash %}
    <form action="." method="get" class="d-flex justify-content-between">
            <h4><b>SGI</b> - Contratos</h4>
            <div class="d-flex">
                <input type="text" id="buscar" name="buscar" class="form-group form-control" style="width:300px; margin-right:5px" placeholder="Contrato, Processo, Ano ou Fornecedor...">
                <input type="submit" class="btn btn-primary form-group" value="Buscar">
            </div>
            <a type="button" class="btn btn-success" hx-get="{% url 'add_contratos' %}" hx-target="#dialog">Adicionar Contratos</a>
    </form>
    <hr>
    <div class="table-responsive" style="max-height: 520px;">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th class="col-1">Processo</th>
                    <th class="col-1">Contrato</th>
                    <th class="col-1">UG</th>
                    <th class="col-2">Vigência</th>
                    <th class="col">Contratada</th>
                    <th class="col-1">Valor</th>
                    <th class="col-1">Anexos</th>
                    {% if perms.auth.Controle %}
                        <th class="col-1">Ações</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for contrato in contratos %}
                    <tr>
                        {% if contrato.NumeroProcesso %}
                            <td>{{ contrato.NumeroProcesso }}/{{ contrato.AnoProcesso }}</td>
                        {%else%}
                            <td>-</td>
                        {%endif%}
                        <td>{{ contrato.NumeroContrato }}/{{ contrato.AnoContrato }}</td>
                        <td>{% if contrato.UnidadeGestora %}{{ contrato.UnidadeGestora }}{% else %}-{%endif%}</td>
                        <td>{{ contrato.data_inicio|date:"d/m/Y" }} à {{ contrato.data_fim|date:"d/m/Y" }}</td>
                        <td>{{ contrato.Fornecedor.RazaoSocial }}</td>
                        <td>R$ {{ contrato.Valor }}</td>
                        <td>
                            <div class='btn-group btn-group-sm' role='group'>
                                <a href="{{ contrato.LinkContrato }}" class="btn btn-secondary" target="_blank"><i class="lni lni-add-files"></i></a>
                                <!-- <a href="{{ contrato.LinkEdital }}" class="btn btn-secondary" target="_blank"><i class="lni lni-book"></i></a> -->
                            </div>
                        </td>
                        {% if perms.auth.Controle %}
                            <td>
                                <div class='btn-group btn-group-sm' role='group'>
                                    <a href="{% url 'contrato_addsaldo' contrato.id %}" class="btn btn-secondary"><i class="lni lni-consulting"></i></a>
                                </div>
                                <div class='btn-group btn-group-sm' role='group'>
                                    <a hx-get="{% url 'edit_contrato' contrato.id %}" hx-target="#dialog" class="btn btn-secondary"><i class="lni lni-pencil-alt"></i></a>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td colspan="8" style="font-size: smaller; text-align: justify;"><b>Objeto: </b>{{ contrato.Objeto }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="wrapper justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">

                {% if contratos.has_previous %}
                    <li class="page-item">

                        {% if request.GET.buscar %}
                            <a class="page-link" href="?page=1&buscar={{request.GET.buscar}}" aria-label="Anterior">
                        {% else %}
                            <a class="page-link" href="?page=1" aria-label="Anterior">
                        {% endif %}
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Primeira</span>
                        </a>
                    </li>   
                {% endif %}
            
                {% for n in contratos.paginator.page_range %}

                    {% if contratos.number == n %}
                        <li class="page-item active">
                            <span class="page-link">{{ n }}</span>
                        </li>
                    {% elif n > contratos.number|add:'-3' and n < contratos.number|add:'3' %}
                        {% if request.GET.buscar %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}&buscar={{request.GET.buscar}}">{{ n }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                        {% endif %}
                    {% endif %}



                {% endfor %}
            
                {% if contratos.has_next %}
                    <li class="page-item">
                        {% if request.GET.buscar %}
                            <a class="page-link" href="?page={{ contratos.paginator.num_pages }}&buscar={{request.GET.buscar}}" aria-label="Próxima">
                        {% else %}
                            <a class="page-link" href="?page={{ contratos.paginator.num_pages }}" aria-label="Próxima">
                        {% endif %}
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Última</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>    
{% endblock contentdash %}
